div {
  margin: {
    bottom: 50px;
    left: auto;
    right: auto;
  }
  width: 625px;
}

.form {
  margin: {
    top: 50px;
    left: auto;
    right: auto;
  }
  width: 625px;

  mat-form-field {
    width: 100%;
  }
}
