div {
	margin: {
		bottom: 50px;
		left: auto;
		right: auto;
	}
	width: 625px;
}

.form {
	margin: {
		left: auto;
		right: auto;
		top: 50px;
	}
	width: 625px;

	mat-form-field {
		width: 100%;
	}
}
